services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    volumes:
      - ../..:/workspaces:cached
      - apibench-node_modules:/workspace/node_modules
      - apibench-venv:/workspace/services/message-router/.venv
    command: sleep infinity

    depends_on:
      - db

    network_mode: host

  ##########################################################################################################
  # Postgres
  ##########################################################################################################

  db:
    build:
      context: ../infrastructure/docker/postgres17
      dockerfile: Dockerfile
      network: host
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - ../database/migrations:/docker-entrypoint-initdb.d
      - apibench-db-data:/var/lib/postgresql/data
    healthcheck:
      test:
        ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -P $$POSTGRES_PASSWORD']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  apibench-data:
  apibench-db-data:
  apibench-node_modules:
  apibench-venv: